<div class="index-container">
  <img src="/images/beer.png" alt="chela" height="300" width="300">
  <div class="botones">
<button type="button" class="btn btn-primary"><a class="mid-boton" href="/beers"> Check the Beers!</a></button> <br>
<button type="button" class="btn btn-primary"><a class="mid-boton" href="/random-beers">Check a Random Beer</a></button>
  </div>
</div>



































<link rel="stylesheet" href="stylesheets/styles.css">
